<div class="container">
  <h1>Create a new cocktail</h1>

  <div class="form-group">
    <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :image %>
    <%= f.submit "Create Cocktail", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
